<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Give Me 2 Hands</a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a pageScroll href="#hows-it-works">How's it works?</a></li>
      <li><a pageScroll href="#customers">Customers</a></li>
      <li><a pageScroll href="#contact">Contact</a></li>
      <li><a pageScroll href="#">About Us</a></li>
    </ul>
  </div>
</nav>
